langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_ollama
langchain_groq
huggingface_hub
langchain_huggingface
sentence_transformers
pymupdf
faiss-cpu
bs4
wikipedia
arxiv
duckduckgo-search
langchain_experimental
validators==0.28.1
youtube_transcript_api